.app-wrapper{
  background-color: floralwhite;
}

/*Landing Page*/
  .landing-container {
    background-color: #03CC83;
    border-radius: 25px;
  }

  .landing-title {
    background-color: #029a63;
    color:#014f33;
    text-align: center;
  }

  .landing-icon {
    float: left;
    width: 32%;
    height: 40%;
    padding: 0 5%;
  }

  .landing-body {
    padding: 5%;
    color: #014f33;
  }

/* Navigation Bar */



/*Top Level NavBar Container*/
  .nav-container {
    display: flex;
    align-items: center;
    height: 20%;
    overflow: hidden;
    background-color: #03cc83;
    padding: 0 10%;
  }

  .navbar {
    display: flex;
    flex-grow: 1;
  }

/* Navbar Items (logo, links, search bar, buttons) */


  .navbar-logo {
    height: 100px;
    width: 75px;
    padding: 2px;
    justify-content: space-evenly;
  }

  .navbar-left {
    display: flex;
    height: 100px;
    flex-grow: 1;
    justify-content: space-evenly;
  }

  .navbar-right {
    display: flex;
    height: 100px;
    flex-grow: .2;
    justify-content: space-evenly;
  }

/* Navbar Items*/
  .navbar a {
    color: #014f33;
    text-decoration: none;
    display: flex;
    width: 100px;
    flex-grow: 0;
    justify-content: space-evenly;
    align-items: center;
  }

  .navbar a:hover {
    background-color: #029a63;
  }

  .navbar a:focus {
    background-color: #03b373;
  }

  .navbar a:active {
    background-color: #03b373;
  }

/* NavBar List Properties */
  .navbar ul {
    list-style: none;
  }

  .search-bar-container {
    display: flex;
    height: 100px;
    flex-grow: .2;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .search-input-field {
    display: flex;
    width: 100px;
    background-color: transparent;
    border: hidden;

  }

  .search-input-field ::placeholder {
    color:red;
  }

  #search-bar-input:focus {
    background-color: floralwhite;
  }

  #results-bar {
    background-color: white;
  }
  
  .navbar-submit {
    color: #014f33;
    text-decoration: none;
    display: flex;
    flex-grow: 0;
    justify-content: space-evenly;
  }

/* Footer */
  .footer-container{
    display: flex;
    height: 160px;
    overflow: hidden;
    background-color: #03cc83;
    padding: 0 10%;
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
  
/*copyright color*/
  .copy-colorblack{
    color: #014f33;
    display: flex;
    flex-grow: 1;
    padding-left: 5px;
    height: 50px;
  }

/*Footer Links*/
  .footer-links{
    background-color: #03cc83;
    margin-left:20px;
  }

/*Footer Logo */
  .footer-logo {
    height: 100px;
    padding: 5px;  
  }    

/* Create New Flashcard Set */

/* Containers */
  .set-container {
    border: 1px solid orangered;
    display: flex;
    flex-direction: column;
    padding: 0px 10%;
    background: #028153;
  }

  .title-container {
    border: 1px solid greenyellow;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    background: whitesmoke;
  }

  .form-group {
    display: flex;
    padding: 5px;
    border: 1px solid #014f33;
  }

  .form-title {
    display: flex;
    flex-grow: 0;
    border: 1px solid #014f33;
    width: 15%;
  }

  .form-input {
    display: flex;
    flex-grow: 0;
    border: 1px solid #014f33;
    width: 40%;
  }

  .flashcard-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #03b373;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid #014f33;
  }

  .top-flashcard {
    display: flex;
    flex-grow: 1;
    background: red;
    height: 40px;
    margin: 20px;
  }

  .bottom-flashcard {
    display: flex;
    height: 300px;
  }

  .left-flashcard {
    display: flex;
    margin: 20px;
    width: 50%;
    background-image: url(https://i.pinimg.com/originals/e1/89/13/e189135cecb98637bc67e79c5f19e3ea.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .right-flashcard {
    display: flex;
    margin: 20px;
    width: 50%;
    background-image: url(https://i.pinimg.com/originals/e1/89/13/e189135cecb98637bc67e79c5f19e3ea.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .submitBar {
    display: flex;
    flex-direction: row-reverse;
    border: solid 1px #014f33;
    padding: 20px;
  }

  .navbar-search {
    display: flex;
    padding-top: 20px;
  }

  .navbar-form {
    border: 1px solid #014f33;
  }
  
.set-container {
  border: 1px solid orangered;
  display: flex;
  flex-direction: column;
  padding: 0px 10%;
  background: #028153;
}
.title-container {
  border: 1px solid greenyellow;
  flex-direction: column;
  width: 80%;
  background: whitesmoke;
}

.form-group {
  display: flex;
  padding: 5px;
  border: 1px solid black;
}

.form-title {
  display: flex;
  flex-grow: 0;
  border: 1px solid black;
  width: 15%;
}

.form-input {
  display: flex;
  flex-grow: 0;
  border: 1px solid black;
  width: 40%;
}

.flashcard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #03b373;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid black;
}

/* Bottom Flashcard */
.bottom-flashcard {
  display: flex;
  flex-direction: row;
  height: 300px;
}

  /* Left Flashcard */
  .left-flashcard {
    display: flex;
    width: 45%;
    border: solid 1px blue;
  }

  /* Middle Flashcard */
  .middle-flashcard {
    display: flex;
    width: 10%;
    border: solid 1px blue;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
  }

  .middle-swap {
    display: flex;
  }

  .middle-button {
    height: 30px;
  }

  /* Right Flashcard */
  .right-flashcard {
    display: flex;
    width: 45%;
    border: solid 1px blue;
  }



/* Toolbar Properties */
.tools-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50px;
  border: solid 1px red;
}

  /* Brush */
      .brush-container {
        display: flex;
        width: 20%;
        border: solid 1px green;
      }

      .brush-group {
        display: flex;
        width: 50%;
      }

  /* Text */
    .text-container {
      display: flex;
      width: 40%;
      border: solid 1px blue;
    }

    .text-button {
      border: solid 1px blue;
    }


  /* Color */
    .color-container {
      display: flex;
      width: 10%;
      border: solid 1px yellow;    
    }

    .color-selected {
      border: solid 1px yellow;
    }

    .color-picker {
      border: solid 1px yellow;
    }

  /* Background */
    .background-container {
      display: flex;
      width: 20%;
      border: solid 1px orange;
    }

    .background-group {
      display: flex;
      width: 50%;
    }

    .background-dropdown {
      border: solid 1px orange;
    }


  /* Save Container */
    .save-container {
      display: flex;
      justify-content: space-between;
      border: solid 1px purple;
    }

    .left-save {
      display: flex;
    }

    .right-save {
      display: flex;
    }



  /* Submit Bar */
    .submitBar {
      display: flex;
      flex-direction: row-reverse;
      border: solid 1px black;
      padding: 20px;
    }



  .toolbar-icon {
    display: flex;
    height: 48px;
    width: 60%;
    justify-content: center;
    align-items: center;
    background-color: green;
    border: 1px solid black;
  }

  .toolbar-input {
    display: flex;
    background-color: lightgreen;
    width: 40%;
  }

  .toolbar-group {
    display: flex;
    width:10%;
  }