/*A Styling overwrite for the main Bootstrap .css called in App.Js*/

/*
	Color Theme and Hex Codes
	#03cc83 - Jade
	#03b373 - Jade Dark
	#029a63 - Leaf
	#028153 - Leaf Dark
	#026843 - Moss
	#014f33 - Black Replacement
*/

/*--------------------------------------------------------------------------------- Global Sytles*/
.app-wrapper {
  background-color: floralwhite;
  height: 1200px;
}

/*--------------------------------------------------------------------------------- Landing Page*/
.page-container {
  height: 1200px;
  background-color: #03cc83;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.page-title {
  background-color: #029a63;
  color: #014f33;
  text-align: center;
  text-transform: uppercase;
  max-height: 100px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.landing-icon {
  float: left;
  height: 100%;
  width: 100%;
  max-height: 250px;
}

.landing-body {
  text-indent: 20px;
  line-height: 1.8;
  font-size: 150%;
  height: 400px;
  padding:0% 5% 5% 5%;
  color: #014f33;
}

/*--------------------------------------------------------------------------------- Navigation Bar*/

/*Top Level NavBar Container*/
.nav-container {
  display: flex;
  align-items: center;
  height: 150px;
  background-color: #026843;
}

.navbar {
  display: flex;
  flex-grow: 1;
  height:100%;
  background-color: #026843;
}

/*----------------------------------------------- Navbar Sections */

.navbar-logo {
  display: flex;
  max-height: 150px;
  flex-grow: 0.2;
  margin-left: 25px;
  justify-content: space-evenly;
  background-color:#03cc83;
  border-radius:50px;
}

.navbar-left {
  display: flex;
  height: 100px;
  flex-grow: 1;
  justify-content: space-evenly;
}

.navbar-right {
  display: flex;
  height: 100px;
  flex-grow: 1;
  justify-content: space-evenly;
}

/*--------------------------------------------- Navbar Items*/
.navbar a {
  color: #03cc83;
  text-decoration: none;
  display: flex;
  flex-grow: 1;
  height: 75px;
  justify-content: center;
  padding-top:40px;
}

.navbar a:hover {
  background-color: #028153;
  border-radius: 25px;
}

.navbar a:focus {
  background-color: #028153;
}

.navbar a:active {
  background-color: #028153;
}

/* ---------------------------- NavBar List Properties */
.navbar ul {
  list-style: none;
}

/*--------------------------------------------------------------------------------- Search Bar*/
.search-bar-container {
  display: flex;
  height: 100px;
  width: auto;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
}

.search-input-field {
  display: flex;
  width: 100px;
  height: 25px;
  border-radius: 15px;
  border: hidden;
  background-color: #03b373;
}

.search-input-field input:focus{
  background-color:black;
}

.search-submit-button {
  height: 25px;
  background-color: #014f33;
  color: #03cc83;
  border-radius: 15px;
  padding: 0px, 1px, 1px, 0px;
  border: hidden;
  margin-left: 5px;
}

/*--------------------------------------------------------------------------------- Sign In Page*/

/* Footer */
.footer-container {
  display: flex;
  height: 160px;
  overflow: hidden;
  background-color: #03cc83;
  padding: 0 10%;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

/*--------------------------------------------------------------------------------- Footer*/
.copy-colorblack {
  color: #014f33;
  display: flex;
  flex-grow: 1;
  padding-left: 5px;
  height: 50px;
}

.footer-links {
  background-color: #03cc83;
  margin-left: 20px;
}


.footer-logo {
  height: 100px;
  padding: 5px;
}

/*--------------------------------------------------------------------------------- Create Flashcard Page*/

/*------------------------------------------------------------------- Containers */
.create-flashcard-container{
  background-color: #03cc83;
}

.title-container { /*this the right one*/
  display:flex;
  flex-direction: column;
  width: 100%;
  background: #029a63;
  text-align: center;
}

.title-text{
  color:#03cc83;
}

.set-container {
  border: 1px solid neon;
  border-radius: 25px;
  display: flex;
  flex-direction: inherit;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction:inherit;
  align-content: center;
  padding: 5px;
  border: 1px solid #014f33;
  background-color: #03cc83;
}

.form-title {
  display: flex;
  flex-grow: 0;
  text-align: center;
  border-radius: 25px;
  color: #03cc83;
  background-color: #014f33;
  justify-content: center;
}

.form-input {
  display: flex;
  flex-grow: 0;
  border: 1px solid #014f33;
  width: 100%;
  border-radius: 30px;
  margin-left: 5px;
}

.category-buttons{
  color:#014f33;
}

.flashcard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #03b373;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid #014f33;
}

.top-flashcard {
  display: flex;
  flex-grow: 1;
  background: red;
  height: 40px;
  margin: 20px;
}

.bottom-flashcard {
  display: flex;
  height: 300px;
}

.left-flashcard {
  display: flex;
  margin: 20px;
  width: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.right-flashcard {
  display: flex;
  margin: 20px;
  width: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.submitBar {
  display: flex;
  flex-direction: row-reverse;
  border: solid 1px #014f33;
  padding: 20px;
}

.flashcard-list {
  width: 100%;
}

.flashcard-list-item {
  list-style-type: none;
  width: 100%;
}

.set-container {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0px 10%;
  background: #028153;
}


.form-group {
  display: flex;
  padding: 5px;
  border: 1px solid black;
}

.form-title {
  display: flex;
  flex-grow: 0;
  border: 1px solid black;
  width: 15%;
}

.form-input {
  display: flex;
  flex-grow: 0;
  border: 1px solid black;
  width: 40%;
}

.flashcard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #03b373;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid black;
}

/* Bottom Flashcard */
.bottom-flashcard {
  display: flex;
  flex-direction: row;
  height: 300px;
}

/* Left Flashcard */
.left-flashcard {
  display: flex;
  width: 45%;
  border: solid 1px blue;
}

/* Middle Flashcard */
.middle-flashcard {
  display: flex;
  width: 10%;
  border: solid 1px blue;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.middle-swap {
  display: flex;
}

.middle-button {
  height: 30px;
}

/* Right Flashcard */
.right-flashcard {
  display: flex;
  width: 45%;
  border: solid 1px blue;
}

/* Toolbar Properties */
.tools-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50px;
  border: solid 1px red;
}

/* Brush */
.brush-container {
  display: flex;
  width: 20%;
  border: solid 1px green;
}

.brush-group {
  display: flex;
  width: 50%;
}

/* Text */
.text-container {
  display: flex;
  width: 40%;
  border: solid 1px blue;
}

.text-button {
  border: solid 1px blue;
}

/* Color */
.color-container {
  display: flex;
  width: 10%;
  border: solid 1px yellow;
}

.color-selected {
  border: solid 1px yellow;
}

.color-picker {
  border: solid 1px yellow;
}

/* Background */
.background-container {
  display: flex;
  width: 20%;
  border: solid 1px orange;
}

.background-group {
  display: flex;
  width: 50%;
}

.background-dropdown {
  border: solid 1px orange;
}

/* Save Container */
.save-container {
  display: flex;
  justify-content: space-between;
  border: solid 1px purple;
}

.left-save {
  display: flex;
}

.right-save {
  display: flex;
}

/* Submit Bar */
.submitBar {
  display: flex;
  flex-direction: row-reverse;
  border: solid 1px black;
  padding: 20px;
}

.toolbar-icon {
  display: flex;
  height: 48px;
  width: 60%;
  justify-content: center;
  align-items: center;
  background-color: green;
  border: 1px solid black;
}

.toolbar-input {
  display: flex;
  background-color: lightgreen;
  width: 40%;
}

.toolbar-group {
  display: flex;
  width: 10%;
}

/*--------------------------------------------------------------------------- Sign-in Page */
.google-sign-in{
  display: flex;
  flex-direction: column;
  background-color: #03cc83;
  height: 80%;
  text-align: center;
}

.signin-title{
  display: flex;
  flex-direction: column;
  color: #014f33;
  height: 100px;
}

.g-signin2{
  background-color: #03cc83;
  height: 100px;
}

table {
  background-color: #03cc83;
  color: #014f33;
  
}